*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14vw;
    text-align: center;
  }

  .container span {
    letter-spacing: 5rem;
    animation: flip 2s infinite;
    animation-delay: calc(0.2s * var(--x));
  }

  @keyframes flip {
    0%,
    80% {
      transform: rotateY(360deg);
    }
  }